*{
    margin: 0px;
    padding: 0px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.slick-list,.slick-track{
    height: 2.6rem;
}
.slick-dots{
    bottom: -0.13rem;
}
.slick-dots li{
    width: 0.2em;
    height: 0.2em;
    margin: 0px 8px;
}
.slick-dots li button{
    font-size: 0.2em!important;
    line-height: 1;
    width: 0.2em;
    height: 0.2em;
    padding: 0px;
}
.slick-dots li.slick-active button:before{
    color: #7174ff;
}
.slick-dots li button:before{
    color: #ffffff;
    opacity: 0.75;
}
body{
    font-size: 50px;
}
.header{
    width: 100%;
    margin: 0px auto;
    height: 2.6rem;
}
.game-list{
    padding: 0.24rem 0px;
    margin: 0px 0.24rem;
    height: 1.8rem;
    -webkit-user-select: none;
    outline: none;
    -webkit-touch-callout: none;
}
.line{
    border-bottom: 1px solid #e1e1e1;
}
.img-div{
    float: left;
}
.game-name{
    font-size: 0.28em;
    color: #333333;
    line-height: 1;
    margin-bottom: 0.2rem;
}
.game-desc{
    font-size: 0.24em;
    color: #787878;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.game-icon{
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 0.24rem;
}
.game-down{
    position: absolute;
    font-size: 0.24em;
    color: #454545;
    border: 1px solid #c7c7c7;
    height: 0.44rem;
    line-height: 0.42rem;
    width: 0.90rem;
    text-align: center;
    background: transparent;
    border-radius: 2px;
    margin-top: 0.2rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    outline: none;
}
.game-down:active{
    color: #999999;
    background: #eaeaea;
}
.no-select{
    color: #454545;
    background: transparent;
}
[v-cloak]{
    display: none;
}
.hidd{
    display: none;
}
@media (-webkit-min-device-pixel-ratio:  2) {
    body{
        font-size: 100px;
    }
}
@media (-webkit-min-device-pixel-ratio: 2.6) {
    body{
        font-size: 150px;
    }
}
@media (-webkit-min-device-pixel-ratio:  3.5) {
    body{
        font-size: 200px;
    }
}