<!DOCTYPE html>
<html>
<head>
    <title>游戏吧</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/adapter.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/slick.css">
    <link rel="stylesheet" type="text/css" href="./css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script type="text/javascript">
        if(is_ios || is_iPad){
            //应对ios没有数据时直接跳转 不进行展示
            window.location.href = 'http://m.youxijinbang.com/game/wk/redirect.html?source=wk';
        }
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1254030866'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254030866' type='text/javascript'%3E%3C/script%3E"));
    </script>
</head>
<body>
<div class="game">
    <section class="header slider">
        <img v-for="header in headers" :src="header.pic" track-by="$index" @click="download(header.download,header.name)"
             v-if="show(header.sys)" v-cloak>
    </section>
    <div class="game-list" v-for="gamelist in gamelists" v-if="show(gamelist.sys)" :class="{line:showLine($index)}" @click="download(gamelist.download,gamelist.name)"
         v-cloak>
        <div class="img-div">
            <img class="game-icon" :src="gamelist.icon">
        </div>
        <div class="p-div">
            <p class="game-name">{{gamelist.name}}</p>
            <p class="game-desc">{{gamelist.desc}}</p>
            <button class="game-down" @touchend="removeColor($index)">下载</button>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="./js/slick.js"></script>
<script>
    $(document).on('ready', function () {
        $(".header").slick({
            dots: true,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 5000
        });
    });
</script>
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="./js/gamedata.js"></script>
</html>